<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Höser Event Fotos</title>
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% rollup "src/ts/main.ts"%}
    {% lightningcss "src/css/main.css"%}
  </head>
  <body>
    <header>
      <a href="/"><h1>{% if subpage %}⬅️{% endif %} Höser Event Fotos</h1></a>
    </header>
    <main>
      {{ content }}
    </main>

    <footer>
      <a href="/admin/">Admin</a>
    </footer>
  </body>
</html>
