@import url("./reset.css");
@import url("./vars.css");

body {
  min-height: 100vh;
  min-height: 100dvh;
  background: #eee;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main, header, footer {
  padding: var(--m);
}

footer {
  background-color: #ea4;

  & a {
    color: #000;
  }
}

#albumGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: var(--m);

  .album {
    text-decoration: none;
    display: grid;
    overflow: hidden;
    height: 100%;
    grid-template-rows: 1fr auto;
    aspect-ratio: 1/1;
    grid-template-areas:
      "img"
      "overlay";
    box-shadow: 0 0 var(--xxs) calc(var(--xxs) / 2) #0002;
    border-radius: var(--xxs);

    & picture {
      display: contents;
    }

    & img {
      width: 100%;
      height: 100%;
      min-height: 0;
      object-fit: contain;
      background: #333;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
    transition: background-color 0.2s ease-in-out;
    }

    & footer {
      grid-area: overlay;
      backdrop-filter: blur(var(--xs));
      background-color: #fffa;
      color: #000;
      padding: var(--xs);
    }

    &:hover img {
      background-color: #666;
    }
  }
}
